.MainCard {
    background: rgb(63, 89, 116);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    color:#fff;
}


.title {
    display: block;
    height: 80px;
    padding: 5px;
}

.title h3 {
    float: left;
    padding: 5px;
}

.title svg {
    display: inline-block; 
    height: 24px;
    width: 24px;
}

.optbtn{
    float: right;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

.optbtn:hover {
    cursor: pointer;
    background:rgb(155, 153, 153);
}

.actions {
    display: flex;
    gap: 100px;
    height: 36px;
    padding-top: 5px;
    width:220px;
}

.addButton {
    float: left;
    height: 34px;
    padding: 5px;
    border-radius: 5px;
}

.addButton:hover {
    cursor: pointer;
    background:rgb(155, 153, 153);
}

.addBtn span {
    display: inline-block;
    padding-left: 5px;
}

.actions svg {
    display: inline-block; 
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.allBtn {
    float: right;
    height: 34px;
    padding: 5px;
    border-radius: 5px;
    background-color: none;
}

.allBtn:hover {
    cursor: pointer;
    background:rgb(155, 153, 153);
}
.isTemplate{
    position: relative;
  top:-120px;
left:-80px;
  background-color: #c6c6c6;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #000;
  width: 200px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.isTemplate button{
    border:none;
    width:220px;
    border-radius: 7px;
}
.isTemplate button:hover{
    background-color: #a3a3a3;
}
.isTemplate p:hover{
    cursor:pointer;
    background-color: #dad9d9;
    border-radius: 5px;
}
.input:hover{
    background-color: #f6f0f0;
}
.addButton{
    background: none;
    color:#fff;
    width:150px;
    border:1px solid #fff;
}
.iconsX{
    background: none;
  width:150px;

}
.addSave{
    display: flex;
}
.addNew{
    display: flex;
    gap:5px;
}
.addNew input{
    width:130px;
    margin-bottom:5px;
    padding:15px 0;
}
.allBtn{
    margin-bottom:15px;
}