.App{
    display: flex;
    justify-content:space-between ;
    padding:20px;

  }
  
  html,body{
    padding:0;
    margin:0;
  }
  .column{
    background-color: #626263;
    border-radius: 5px;
    width:240px;
    padding:10px;
    margin:0 10px;
  
  }
  .column h2{
    text-align: center;
    color:#ffffff
  }
  .card{
    background-color: white;
    padding:10px;
    margin-bottom:10px;
    border-radius:3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
   
  }
  .button{
    outline:none;
    width:150px;
  }
  .button button{
    border:none;
    padding:2px 4px;
    background-color: #ffffff;
    outline: none;
    text-decoration: none;
    display: inline-block;
  }
  .button button:hover{
    background-color: #cecece;
    border-radius:5px;
  }





  .container .dashboard {
    width: calc(100vw - 300px);
    position: fixed;
    display: inline-block;
    background: var(--bg-primary-theme);
  }
  
  .dashboard h1 {
    text-align: left;
  }
  
  .board {
    background: var(--bg-primary-color);

    display: flex;
    margin-left:40px;
  }