.icon{
    border: none;
    cursor: pointer;
    background: none;
    color: #2f3133;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.bbutton:hover{
    background-color: #282F27;
}

.taskName input{
    margin-top: 5px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    width:200px;
    border-radius: 5px;
}



.taskName button p{
padding-bottom: 8px;

}

.taskName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    background-color: #fff;
    color:#000;
    padding:5px 10px;
    border:1px solid black;
    border-radius:5px;
    margin-bottom:10px;
    font-size:22px;
   width:100%;
   gap:150px;


}